<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182196777623-743nkck014ha318340vf447qa8d0dl3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182196777623-743nkck014ha318340vf447qa8d0dl3e</string>
	<key>API_KEY</key>
	<string>$(FIREBASE_IOS_API_KEY)</string>
	<key>GCM_SENDER_ID</key>
	<string>182196777623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tablet</string>
	<key>PROJECT_ID</key>
	<string>coworkreservation</string>
	<key>STORAGE_BUCKET</key>
	<string>coworkreservation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182196777623:ios:75f23eaeefe68eb84f2fd2</string>
</dict>
</plist>