<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <form action="/" method="post">
        <label for="texOfMessage">Input text of the message:</label>
        <br>
        <input autofocus name="textOfMessage" type="text" maxlength="155", autocomplete="off", spellcheck="false" placeholder="text">
        <button type="submit">Submit</button>
    </form>

    <ul id="testUl"></ul>
    <script>
        let listOfMessages = document.querySelector("#testUl");
        fetch("/getMsgs")
        .then(response => response.json())
        .then(data => {
            data.forEach(element => {
                listOfMessages.innerHTML += `<li>${element.text}</li>`;
            });
        })
    </script>
</body>
</html>