<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344456035051-309e3qgebqbapv6ks3o2d7bnssjgft70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344456035051-309e3qgebqbapv6ks3o2d7bnssjgft70</string>
	<key>API_KEY</key>
	<string>AIzaSyCaxQHIgoNverPDZKKNHpsxSgmL4smGEoo</string>
	<key>GCM_SENDER_ID</key>
	<string>344456035051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vacuumlabs.cowork.tablet</string>
	<key>PROJECT_ID</key>
	<string>cowork-reservation</string>
	<key>STORAGE_BUCKET</key>
	<string>cowork-reservation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344456035051:ios:0a7f5b2947d7193ba01cae</string>
</dict>
</plist>