<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182196777623-tb1o1e30uegaiu8v0jicqib6o3poobsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182196777623-tb1o1e30uegaiu8v0jicqib6o3poobsp</string>
	<key>API_KEY</key>
	<string>AIzaSyDwd168Glyx_NxpdMRxu10VDDo5l9dWrhk</string>
	<key>GCM_SENDER_ID</key>
	<string>182196777623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vacuumlabs.cowork.tablet</string>
	<key>PROJECT_ID</key>
	<string>coworkreservation</string>
	<key>STORAGE_BUCKET</key>
	<string>coworkreservation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:182196777623:ios:8824dd05befc6f2c4f2fd2</string>
</dict>
</plist>
